.category-page-container{
}

.category-details-container{
}

.subcategories-grid-container{
    margin-top: 2rem;
}

.category-details-buttons-container{
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}