version: '3.8'
services:
    # mongodb_01:
    #     image: mongodb/mongodb-community-server
    #     container_name: mongodb_01
    #     networks:
    #         - exp-app-network
    #     ports:
    #         - 27017:27017
    #     volumes:
    #         - type: bind 
    #           source: D:/DataBase/MongoDB/DockerMount/data
    #           target: /data/db
    #     environment:
    #         # MONGO_INITDB_ROOT_USERNAME: user
    #         # MONGO_INITDB_ROOT_PASSWORD: pass
    #         MONGO_INITDB_DATABASE: test
    #     restart: unless-stopped
    exp-app-api:
        # image: ${DOCKER_REGISTRY-}exp-app-api
        container_name: exp-app-api
        build:
            context: .
            dockerfile: Dockerfile
        networks:
            - exp-app-network
        ports:
            - "8080:8080"
            - "8081:8081"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            # - ConnectionStrings__MongoDBConnection=mongodb://
            # - ConnectionStrings__MongoDBConnectionHost=localhost
            # - ConnectionStrings__MongoDBConnectionPort=27017
            # - ConnectionStrings__MongoDBDatabase=ExpAppDB

            - ConnectionStrings__MongoDBConnectionString=mongodb+srv://expappsa:expappsapwd@cluster0.pv2uajk.mongodb.net/?appName=Cluster0
            - ConnectionStrings__DatabaseName=ExpAppDB

            # - Kestrel__Endpoints__Http__Url=http://localhost:8080
            # - Kestrel__Endpoints__Https__Url=https://localhost:8081
        # depends_on:
        #     - mongodb_01
        restart: always
    # mongo-express:
    #     image: mongo-express
    #     container_name: mongo-express
    #     networks:
    #         - exp-app-network
    #     ports:
    #       - "8081:8081" # Access via http://localhost:8081
    #     environment:
    #       # Credentials for Mongo Express to log in to MongoDB
    #       ME_CONFIG_MONGODB_SERVER: mongodb
    #       ME_CONFIG_MONGODB_ADMINUSERNAME: user
    #       ME_CONFIG_MONGODB_ADMINPASSWORD: password
    #     depends_on:
    #       - mongodb_01
    #     restart: unless-stopped

networks:
  exp-app-network:
    driver: bridge