# version: '3.8'
services:
    exp-app-api:
        container_name: exp-app-api
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - 5191:5191
            - 7119:7119
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
        depends_on:
            - mongodb_01
    mongodb_01:
        image: mongodb/mongodb-community-server
        container_name: mongodb_01
        ports:
            - 27017:27017
        volumes:
            - type: bind 
              source: D:/DataBase/MongoDB/DockerMount/data
              target: /data/db
        environment:
            # MONGO_INITDB_ROOT_USERNAME: user
            # MONGO_INITDB_ROOT_PASSWORD: pass
            MONGO_INITDB_DATABASE: test